@{
    ViewData["Title"] = "About Us";
}

<h2>Who We Are</h2>

<p>
    Everything Office since 1986. We provide West Georgia with office products, office furniture, and office machines.<br/>
    We offer local delivery of over 50,000 office items from Bathroom to Boardroom supplies.We will come to your office <br/>
    and inventory your office supplies on a regular basis keeping the chore of ordering off your busy day. We sell and  <br/>
    service the entire line of Sharp Office Machines including 70 page per minute Office MFP's to the small desktop models. <br/>
    We provide Office Furniture and can design your office layout with Computer drawings of the final look. Also we assemble and <br/>
    deliver the office furniture. We offer unique opportunities with many scratch and dent office furniture at a greatly reduced price.
</p>