@{
    ViewData["Title"] = "Contact Us";
}

<div class="row d-flex justify-content-center">
    <div class="col-md-4 text-center">
        <h2>Find Us</h2>

        <p>
            We are located in Carrollton, Georgia. Our address is 705 Maple St, Carrollton, GA 30117. <br />
            Call us at <b>(770) 834-1100</b> or email us at <b>service@kidneyofficeproducts.com</b>.
        </p>
    </div>
    <div class="col-md-4 text-center">
        <h2>Hours</h2>
        <table class="table table-responsive" style="margin-left: auto; margin-right: auto; width: 70%">
            <tr><th>Sunday</th><td class="text-center">&ensp;Closed</td></tr>
            <tr><th>Monday</th><td class="text-center">&ensp;8am - 5pm</td></tr>
            <tr><th>Tuesday</th><td class="text-center">&ensp;8am - 5pm</td></tr>
            <tr><th>Wednesday</th><td class="text-center">&ensp;8am - 5pm</td></tr>
            <tr><th>Thursday</th><td class="text-center">&ensp;8am - 5pm</td></tr>
            <tr><th>Friday</th><td class="text-center">&ensp;8am - 5pm</td></tr>
            <tr><th>Saturday</th><td class="text-center">&ensp;Closed</td></tr>
        </table>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d212721.17282233015!2d-85.089025!3d33.585364!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x888b2f0d7ecd0cc7%3A0x955f28dd70fd571!2s705%20Maple%20St%2C%20Carrollton%2C%20GA%2030117!3m2!1d33.5757961!2d-85.0833035!5e0!3m2!1sen!2sus!4v1620012982198!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
